@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}
.logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

select,input,textarea {
    border: 1px solid #c2d2d2;
    outline-color: #C586A5;
    border-radius: 4px;
}

.active {
    background-color: #ffebf5;
    border-color: #C586A5;
}